/* START HOME */

.advantages__wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 39px;
    margin-bottom: 65px;
}

.advantages__item {
    padding-left: 63px;
    position: relative;
    margin-right: 15px;
}

.advantages__item::before {
    content: '';
    position: absolute;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #c9a1ff;
    left: 0;
}

.advantages__item-1::after {
    content: '';
    position: absolute;
    background-image: url(/image/halkmarket/advantages/advantages-icon-1.svg);
    left: 4px;
    top: 4px;
    width: 36px;
    height: 32px;
}

.advantages__item-2::after {
    content: '';
    position: absolute;
    background-image: url(/image/halkmarket/advantages/advantages-icon-2.svg);
    left: 8px;
    top: 6px;
    width: 26px;
    height: 32px;
}

.advantages__item-3::after {
    content: '';
    position: absolute;
    background-image: url(/image/halkmarket/advantages/advantages-icon-3.svg);
    left: 8px;
    top: 7px;
    width: 28px;
    height: 26px;
}

.advantages__item-title {
    font-family: 'Lato-Semibold', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: normal;
    margin-bottom: 6px;
}

.advantages__item-text {
    font-family: 'Lucida-Grande', sans-serif;
    font-weight: 400;
    font-size: 16px;
    max-width: 230px;
}


/* END HOME */


/* START MENU CATEGORY */

.category__title {
    font-family: 'Lato-Bold', sans-serif;
    font-weight: 700;
    color: #2e2e2e;
    font-size: 30px;
    margin-bottom: 20px;
}

.list__category {
    /*  min-width: 1240px; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.list__item {
    /* padding: 33px 20px 29px 19px; */
    border-radius: 14px;
    background-color: #3dacf2;
    position: relative;
    width: 275px;
    height: 215px;
    margin-right: 40px;
    margin-bottom: 20px;
    transition: all .5s;
    position: relative;
}

.list__item:hover {
    transform: scale(1.1);
}

.list__item:nth-child(4n+4) {
    margin-right: 0;
}

.list__item:nth-child(odd):before {
    content: '';
    position: absolute;
    width: 200px;
    height: 134px;
    background-position: bottom right;
    background-repeat: no-repeat;
    bottom: 13px;
    right: 17px;
}

.list__item:nth-child(even):before {
    content: '';
    position: absolute;
    width: 200px;
    height: 134px;
    background-position: bottom right;
    background-repeat: no-repeat;
    bottom: 13px;
    right: 17px;
}

.list__item:nth-child(1) {
    background-color: #3dacf2;
}

.list__item:nth-child(1):before {
    background-image: url('/image/halkmarket/category/cat-1.svg');
}

.list__item:nth-child(2) {
    background-color: #6ad968;
}

.list__item:nth-child(2):before {
    background-image: url('/image/halkmarket/category/cat-2.svg');
}

.list__item:nth-child(3) {
    background-color: #6d75f2;
}

.list__item:nth-child(3):before {
    background-image: url('/image/halkmarket/category/cat-3.svg');
}

.list__item:nth-child(4) {
    background-color: #9942db;
}

.list__item:nth-child(4):before {
    background-image: url('/image/halkmarket/category/cat-4.svg');
}

.list__item:nth-child(5) {
    background-color: #8c7269;
}

.list__item:nth-child(5):before {
    background-image: url('/image/halkmarket/category/cat-5.svg');
}

.list__item:nth-child(6) {
    background-color: #6236ff;
}

.list__item:nth-child(6):before {
    background-image: url('/image/halkmarket/category/cat-6.svg');
}

.list__item:nth-child(7) {
    background-color: #32c5ff;
}

.list__item:nth-child(7):before {
    background-image: url('/image/halkmarket/category/cat-7.svg');
}

.list__item:nth-child(8) {
    background-color: #d6f57a;
}

.list__item:nth-child(8):before {
    background-image: url('/image/halkmarket/category/cat-8.svg');
}

.list__item-link {
    padding-top: 27px;
    padding-left: 20px;
    width: 100%;
    height: 100%;
}

.list__item-link-title {
    width: 172px;
    font-family: 'Lato-Bold', sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 24px;
    line-height: 28px;
}

.navbar-header-span {
    display: none;
}


/* END MENU CATEGORY */


/* START SLIDER SLICK */

.slider__wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.2);
}

.slider__slick {
    box-shadow: 0 1px 11px rgba(59, 36, 90, 0.4);
    background-color: #ffffff;
    padding-top: 30px;
    padding-bottom: 30px;
}

.slider__item {
    outline: none;
    cursor: pointer;
}

.slider__item-link {
    outline: none;
}

.slider__item-pic {
    margin: 0 auto;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    overflow: hidden;
}

/* END SLIDER SLICK */


/* START featured */
.featured{
    background-color: #f8f7fa;
    padding-bottom: 40px;
}
.featured__container{
    background-color: #fff;
    border-radius: 15px;
    padding: 0 10px;
}
.featured__info-wrapper {
    display: inline-block;
    width: 250px;
    position: absolute;
    z-index: 1;
}

.featured__wrapper {
    /* box-shadow: 0 0 11px rgba(59, 36, 90, 0.16);
    border-radius: 15px;
    overflow: hidden;
    width: 81%;
    float: right; */
    /* display: flex;
    justify-content: space-between; */
}

.featured__info-box {
    background-color: #3b245a;
    padding: 26px;
    border-radius: 15px;
    display: inline-block;
    float: left;
}

.featured__info-box-title {
    color: #fff;
    font-family: 'Lato-Semibold', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
    width: 172px;
    line-height: 31px;
}

.featured__info-box-link {
    color: #fff;
    font-family: 'Lato-Semibold', sans-serif;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 47px;
    border-radius: 8px;
    background-image: linear-gradient(180deg, #0dc06d 0%, #0db14b 100%);
    margin-bottom: 20px;
    display: block;
}

.featured__info-box-img {
    text-align: center;
}
.featured__slider-inner{
    padding: 20px 0;
    background-color: #fefefe;
}
.featured__slider {
    position: relative;
}
.featured__item{
    padding: 20px 10px;
    border-radius: 15px;
    margin-right: 27px;
}
.featured__item-img{    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    margin-bottom: 8px;
    width: 110px;
    height: 110px;
    margin: 0 auto;
    margin-bottom: 7px;
}
.featured__item-star {
    width: 110px;
    margin-bottom: 10px;
    margin: 0 auto;
    margin-bottom: 11px;
}

.home__rating{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rating__rew-num-link{
    color: #373738;
    font-family: 'Lato-Semibold';
    font-size: 13px;
    font-weight: 600;
    text-align: left;
    margin-left: 7px;
}
.featured__item:hover{
    box-shadow: 0 4px 14px 7px rgba(121, 121, 121, 0.05);
}
.featured__item:hover .featured__item-box-cart{
    stroke:#0db85a;
    fill:#0db85a;
}
.featured__item-title{
    /* width: 178px; */
    height: 78px; 
    margin-bottom: 22px;  
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    line-height: 20px;
}
.featured__item-title-text{    
    color: #373738;
    font-family: 'Lato-Semibold', sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-align: center;   
}
.featured__item-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.featured__item-box-old{
    color: #b4b4b4;
    font-family: 'CircularStd-Bold', sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-decoration: line-through;
    text-transform: uppercase;
}
.featured__item-box-new{
    color: #f8cb00;
    font-family: 'CircularStd-Bold', sans-serif;
    font-size: 15px;
    font-weight: 700;    
    text-align: center;
    text-transform: uppercase;
}
.item__btn{
    display: flex;
    align-items: center;
    width: 18px;
    height: 17px;
    position: relative;
    cursor: pointer;
    background: transparent;
    outline: none;
    border: none;
}

.item__btn::before{
    content: '';
    position: absolute;    
    width: 18px;
    height: 17px;
    background-image: url('/image/halkmarket/slider/cut-icon.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    top: 0;
    right: 0;
    transition: all .3s;
}
.featured__item:hover .featured__item-box .item__btn::before {
    content: '';
    position: absolute;    
    width: 18px;
    height: 17px;
    background-image: url('/image/halkmarket/slider/cut-icon-green.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    top: 0;
    right: 0;
}
.slick-next{
    position: absolute;
    right: 0;
    top: 100px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 73px;
    height: 86px;
    outline: none;
    border: none;
}
.slick-next::before{
    content: '';
    position: absolute;
    width: 21px;
    height: 31px;
    background-image: url('/image/halkmarket/slider/slider-arrow.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    right: 26px;
}
/* END featured */


/* START BANNER */

.banner__wrapper {
    padding: 40px 0;
    background-color: #f8f7fa;
}

.banner__box {
    display: block;
    background: #f7c823;
    position: relative;
}

.banner__container{
    padding-bottom: 40px;
}

.banner__item {
    padding: 44px 0 70px 41px;
    background: #3b245a;
    border-radius: 0 100px 100px 0;
    height: 200px;
    width: 60%;
}

.banner__box::before {
    content: '';
    position: absolute;
    background-image: url(/image/halkmarket/banner/banner-home.png);
    width: 436px;
    height: 154px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    transform: translateY(-50%);
}

.banner__box-item-title1 {
    width: 440px;
    color: #ffffff;
    font-family: 'Lucida-Grande', sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 10px;
}

.banner__box-item-title2 {
    width: 310px;
    color: #ffffff;
    font-family: 'Lucida-Grande', sans-serif;
    font-size: 30px;
    text-align: left;
}

/* END BANNER */

@media (max-width: 1259px) {
    .list__item:nth-child(4n+4) {
        margin-right: 40px;
    }
    .list__category {
        justify-content: center;
    }
    .category__title {
        text-align: center;
    }
}

@media (max-width: 956px) {
    .banner__box::before {
        width: 400px;
        height: 141px;
    }
    .banner__box-item-title1 {
        font-size: 37px;
    }
    .banner__box-item-title2 {
        font-size: 28px;
    }
}

@media (max-width: 926px) {
    .list__item:nth-child(odd) {
        margin-right: 40px;
    }
    .list__item:nth-child(even) {
        margin-right: 0;
    }
}

@media (max-width: 893px) {
    .banner__box-item-title1 {
        font-size: 35px;
    }
    .banner__box-item-title2 {
        font-size: 26px;
    }
}

@media (max-width: 850px) {
    .banner__box::before {
        width: 367px;
        height: 129px;
        top: 121px;
    }
}

@media (max-width: 760px) {
    .banner__box::before {
        width: 308px;
        height: 109px;
    }
    .banner__box-item-title1 {
        font-size: 31px;
    }
    .banner__box-item-title2 {
        font-size: 22px;
    }

@media (max-width: 697px) {
    .banner__box-item-title1 {
        font-size: 25px;
    }
    .banner__box-item-title2 {
        font-size: 20px;
    }
}

@media (max-width: 673px) {
    .advantages__wrapper {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }
    .advantages__item {
        margin-right: 0px;
    }
    .advantages__item-1 {
        margin-bottom: 25px;
    }
    .advantages__item-2 {
        margin-bottom: 25px;
    }
}
@media (max-width: 653px) {
    .banner__box::before {
        left: 250px;
    }

@media (max-width: 628px) {
    .list__category{
        flex-direction: column;
        align-items: center;
    }
    .list__item:nth-child(odd){
        margin-right: 0;
    }
}
@media (max-width: 611px) {  
    .list__item:nth-child(odd) {
        margin-right: 5px;
    }
    .list__item:nth-child(even) {
        margin-left: 5px;
    }
}
@media (max-width: 600px) {  
    .banner__box::before {
        left: 200px;
        top: 139px;
    }
}

@media (max-width: 586px) {
    .banner__box-item-title1 {
        font-size: 23px;
    }
    .banner__box-item-title2 {
        font-size: 18px;
    }
    .featured__info-box{
        display: block;
        float: none;
    }
    .featured__info-box-title{
        width: 100%;
        margin-bottom: 15px;
    }
    .featured__info-box-link{
        width: 192px;
        margin-bottom: 0;
    }
    .featured__info-box-img{
        display: none;
    }
    .featured__info-box{
        padding: 17px;
    }
    .featured__slider-inner{
        padding: 0;
    }
}

@media (max-width: 582px) {
    .list__item:nth-child(odd) {
        margin-right: 0px;
    }
    .list__item:nth-child(even) {
        margin-left: 0px;
    }
}
@media (max-width: 571px) {
    
}
@media (max-width: 550px) {  
    .banner__box::before {
        left: 148px;
    }
}
@media (max-width: 535px) {  
    .banner__box-item-title1 {
        font-size: 21px;
        width: 226px;
    }
    .banner__box-item-title2 {
        font-size: 16px;
        width: 226px;
    }
}

@media (max-width: 508px) {
    .banner__box::before {
        width: 215px;
        height: 76px;
        left: 146px;
    }
    .banner__box-item-title1 {
        font-size: 21px;
    }
    .banner__box-item-title2 {
        font-size: 16px;
    }
}

@media (max-width: 492px) {
    .banner__item{
        padding-left: 13px;
    }
}

@media (max-width: 447px) {
    .banner__item{
        width: 70%;
    }
}
@media (max-width: 400px) {
    .banner__box::before {
        left: 120px;
    }
}

@media (max-width: 386px) {
    .banner__box::before {
        left: 39px;
    }
    .banner__item{
        width: 84%;
    }
}
@media (max-width: 343px) {
    .featured__item-box-old{
        font-size: 14px;
    }
    .featured__item-box-new{
        font-size: 14px;
    }
}
@media (max-width: 333px) {
    .featured__item-box-old{
        font-size: 13px;
    }
    .featured__item-box-new{
        font-size: 13px;
    }
}
@media (max-width: 333px) {
    .featured__item-box-old{
        font-size: 12px;
    }
    .featured__item-box-new{
        font-size: 12px;
    }
}